<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="text/html;utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningMVC</title>
    <!-- environment include="A,B"表示在指定的環境中該標簽內容生效 -->    
    <link rel="stylesheet" href="~/css/BootStrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Jquery/jquery-ui.min.css">
    <style>
        #topBar{
            background-color:#77DDFF;
        }
    </style>
    <script src="~/js/Jquery/jquery.js"></script>
    <script src="~/js/BootStrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/Jquery/jquery-ui.min.js"></script>    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="topBar">
        <a class="navbar-brand" href="#">Zhuang's Zone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAll">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAll">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#" id="TheMeetingRoom.html">TheMeetingRoom</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle noChild" href="#" id="ddGit" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GitHubs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ddGit">
                        <a class="dropdown-item" href="https://github.com/orientalist">orientalist</a>
                        <a class="dropdown-item" href="https://github.com/x774436248">x774436248</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://github.com">GitHub</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="BootStrap.html">BootStrap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="DotNet.html">.Net</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="MSSQL.html">MSSQL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="Docker.html">Docker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="Terminal.html">Terminal And Cmd</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="Git.html">Git&GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="css.html">css</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="http.html">http</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" id="TalkArea.html">留言板</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#" id="Others.html">其他</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ManagePlatform" id="Tools.html">管理工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="WOW.html">WOW</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()        
        <footer>
            <!-- <p>&copy; 2018 - LearningMVC</p> -->
        </footer>
    </div>        
    @RenderSection("Scripts", required: false)
</body>
</html>
