<div class="CategoryPage">
    <div class="PageBody" id=".netBody"></div>
    <div class="dashBody" class="dbOpen">
        <div class="dbContent">
            <ul class="menu">
                <li class="RootItem">
                    <div>Descriptions</div>
                    <ul>
                        <li>
                            <div class="MenuItem">.Net .Net Framework ASP.NET</div>
                        </li>
                    </ul>
                </li>
                <li class="RootItem">
                    <div class="MenuItem">Common Language Runtime(CLR)</div>
                </li>
            </ul>            
        </div>
        <div class="dbButton"></div>
    </div>
</div>
<script src="~/js/ViewJs/DotNet.js"></script>